@model Market.Pages.Modles.UserModel

@{
    ViewData["Title"] = "Index";
    if (Model != null && Model.mode == 2)
    {
        Layout = "~/PresentationLayer/Views/Shared/_LayoutMember.cshtml";
    }
    if (Model != null && Model.mode == 3)
    {
        Layout = "~/PresentationLayer/Views/Shared/_SystemManagerLayout.cshtml";
    }
    dynamic policy = TempData["policy"];
}
<h1>Discount policy managment</h1>

<h4>conditional policies</h4>
<br />
<div class="row">
    <div class="col-md-5">
        <form method="post" asp-action="Create" asp-controller="ConditionalDiscount" asp-route-id="@Model.id" asp-route-mode="@Model.mode" asp-route-shop="@Model.shop" asp-route-product="@Model.product">
            <div class="form-group">
                <label class="col-4" for="description">Description:</label>
                <input id="description" name="description" class="col-6" onkeyup="checkInput()" />
            </div>
            <br />
            <div class="form-group">
                <label class="col-4" for="discountid">Policy Id:</label>
                <input id="discountid" type="number" name="discountid" class="col-6" onchange="checkInput()" />
            </div>
            <br />
            <div class="form-group">
                <label class="col-4" for="predicateId">Predicate Id:</label>
                <input id="predicateId" name="predicateId" type="number" class="col-6" onchange="checkInput()" />
            </div>
            <br />

            <button id="Button" type="submit" class="btn btn-primary" >Create policy</button>
        </form>
    </div>
</div>
<br />
<br />
<div id="message" class="alert"></div>

@if (policy != null)
{
    @foreach (var p in policy)
    {
        <p>@p</p>
    }


}

@section Scripts{
    <script>
        function checkInput() {
            var description = document.getElementById("description");
            var typeList = document.getElementById("discountid");
            var discount = document.getElementById("predicateId");
            var button = document.getElementById("Button");
            if (description.value.trim().length > 0 &&
                typeList.value.trim().length > 0 &&
                discount.value.trim().length > 0) {
                button.disabled = false;
            }
            else {
                button.disabled = true;
            }
        }
    </script>

    <script>
        function checkMessage() {
            var messageElement = document.getElementById("message");
            var message = "@TempData["Message"]";
            var messageType = "@TempData["MessageType"]";
            var messageType = "@TempData["MessageType"]";

            if (message) {
                messageElement.innerHTML = message;
                if (messageType === "success") {
                    messageElement.classList.add("alert-success");
                } else if (messageType === "error") {
                    messageElement.classList.add("alert-danger");
                }
            }
        }
        setInterval(checkMessage, 1000);
    </script>






}

